<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Automation Suite">

    <test name="Login And Datasource Tests">
        <classes>
            <!-- Order matters here -->
            <class name="com.automation.test.LoginTest"/>
            <class name="com.automation.test.AddDataSourceTest"/>
        </classes>
    </test>

</suite>